<h1>Rock, Paper, Scissors</h1>
<form action="result">
  <div class="form-group">
    <label for="user1_int">Player 1 - Enter Rock, Paper or Scissors (in lowercase)</label>
    <input id="user1_int" type="text" name="user1" class="form-control">
    <label for="user2_int">Player 2 - Enter Rock, Paper or Scissors (in lowercase)</label>
    <input id="user2_int" type="text" name="user2" class="form-control">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
